/* width */
:root {
  --scrollbar-width: 4px;
  --scrollbar-z-index: 1500;
  --scrollbar-color-bg: #535048;
  --scrollbar-color-thumb: rgb(238, 118, 62);
  --scrollbar-color-thumb-hover: #f7914d;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  z-index: var(--scrollbar-z-index);
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--scrollbar-color-bg); 
  border-radius: 0;
  z-index: var(--scrollbar-z-index);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color-thumb); 
  border-radius: 0;
  z-index: var(--scrollbar-z-index);
  transition: 0.25s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-thumb-hover); 
  z-index: var(--scrollbar-z-index);
}